@import "~/src/scss/index.scss";

.container {
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.topBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px;

  > a {
    > img {
      height: 30px;
    }

    > i {
      font-size: 26px;
      color: $danger;
      margin: 0;
    }
  }
}

.blockLeft {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blockRight {
  //background-image: url("/images/bannerrmv.png");
  background-color: #2d3250; //#676F9D;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 40%;
  
}


.customshapedividertop1722745428 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.customshapedividertop1722745428 svg {
  position: relative;
  display: block;
  width: calc(174% + 1.3px);
  height: 161px;
}

.customshapedividertop1722745428 .shapefill {
  fill: #676F9D;
}


.customshapedividerbottom1722745992 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.customshapedividerbottom1722745992 svg {
  position: relative;
  display: block;
  width: calc(147% + 1.3px);
  height: 212px;
}

.customshapedividerbottom1722745992 .shapefill {
  fill: #676F9D;
}